.menu-bar{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.title{
    margin-left: 0.5rem;
}

/* CSS for Hover Effect */
.nav-options a.mat-button:hover {
    background-color: #e0e0e0; /* Change to your desired hover color */
  }
  
  /* CSS for Active Button */
  .nav-options a.mat-button.active {
    background-color: #007ACC; /* Change to your desired active color */
    color: #ffffff; /* Change to your desired text color */
  }

  .bg-dark{
    background-color: #064065 !important;
    color:white !important;
}

.bg-light{
    background-color: #16a2b9 !important;
    color:white !important;
}